/* Google fonts */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', 'sans-serif';
    width: 100%;
    height: 100vh;
    background: #121213;
    display: grid;
    place-items: center;
    color: #fafafccc;
}


/* HEADER STYLE */

header {
    position: fixed;
    /* fixes header at the top spanning the whole width of viewport */
    top: 0; left: 0; right: 0;  
    z-index: 1000;
    background: #fafafccc;
    display: flex;
    justify-content: space-between;
    /* vertical alignment (cross axis) */
    align-items: center;  
    padding: 15px 10%;
    height: 40px;


}
.navbar {
    display: flex;
    justify-content:space-between;
    align-items: center;
    flex: 1;
}

.navbar ul {
    /* width: 1000px; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px auto;
    flex: 1;
}

.navbar ul li, a {
    text-decoration: none;
    list-style: none;
    font-size: 15px;
    font-weight: 400;
    color: #091c26;

}

.navbar ul li a:hover {
    color: #114c5c;
}

.about {
    margin-top: 40px;
}

.main_body{
    margin-top:10% ;
    width: 95%;
    height: 100%;
    /* border: 1px solid white; */
    display: flex;
    flex-wrap: wrap;
}

.main_body .side_menu, .song_side{
    width: 25%;
    height: 90%;
    /* border: 1px solid white; */
    background: #111727;
    box-shadow: 5px 0px 2px #090f1f;
     
    
}

.main_body .song_side {
    width: 75%;
    background: #0b1320;
}

.main_body .player {
    width: 100%;
    height: 10%;
    /* border: 1px solid #fff; */
    background: #111727;
    box-shadow: 0px 3px 8px #090f1f;

}

.song_list {
    width: 100%;
    height: 420px;
    /* border: 1px solid #fff; */
    margin-top: 40px;
    overflow: auto;
}

.song_list::-webkit-scrollbar {
    display: none;
}

.song_list li {
    list-style-type: none;
    position: relative;
    padding: 5px 0px 5px 20px;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    cursor: pointer;
    transition: .3s linear;
}

.song_list li:hover {
    background: rgb(105, 105, 105, .1);
}