* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: black;
}

/* HEADER STYLE */

header {
    position: fixed;
    /* fixes header at the top spanning the whole width of viewport */
    top: 0; left: 0; right: 0;  
    z-index: 1000;
    background: #fafafccc;
    display: flex;
    justify-content: space-between;
    /* vertical alignment (cross axis) */
    align-items: center;  
    padding: 15px 10%;
    height: 40px;


}
.header_navigation {
    display: flex;
    justify-content:space-between;
    align-items: center;
    flex: 1;
}

.header_navigation ul {
    /* width: 1000px; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px auto;
    flex: 1;
}

.header_navigation ul li, a {
    text-decoration: none;
    list-style: none;
    font-size: 15px;
    font-weight: 600;
    color: #091c26;

}

.header_navigation ul li a:hover {
    color: #114c5c;
}